<% layout('layout/boilerplate')%>
    <title>Aquamob NOLA</title>
    </head>

    <section class="main-gallery">
        <h1 class="heading-primary">Photo Gallery</h1>
        <div class="main-gallery__title-bar">
            <h2 class="main-gallery__heading">
            </h2>
            <form action="/gallery" class="main-gallery__form custom-select" method="POST">
                <label for="sort-select" class="main-gallery__label">View photos by: </label>
                <select name="sort" id="sort-select" class="main-gallery__select" required>
                    <option value="name=all" class="main-gallery__option">All photos</option>
                    <option value="" class="main-gallery__option main-gallery__option-title">Show-------</option>
                    <% allShows.forEach(show=> { %>
                        <option value="show=true&name=<%= show.name %>" class="main-gallery__option">
                            <%= show.full_name %>
                        </option>
                        <% }) %>
                        <option value="" class="main-gallery__option main-gallery__option-title">Photographer------
                        </option>
                        <% allPhotographers.forEach(photographer=> { %>
                            <option value="name=<%= photographer.name.toLowerCase() %>" class="main-gallery__option">
                                <%= photographer.name %>
                            </option>
                            <% }) %>
                </select>
                <button class="main-gallery__submit">Go</button>
            </form>
        </div>
        <div class="photo-grid">

        </div>
        <button class="photo-grid__load">Load more...</button>
        <div class="photo-grid__modal">
            <div class="photo-grid__prev photo-grid__button">&lt;</div>
            <div class="photo-grid__next photo-grid__button">&gt;</div>
            <div class="photo-grid__close">&#10006;</div>
        </div>
    </section>
    <script>
        var results = <%- JSON.stringify(results) %>;
        var show = <%- show %>;
        var setName = `<%- name %>`;
        var allShows = <%- JSON.stringify(allShows) %>;
        var allPhotographers = <%- JSON.stringify(allPhotographers) %>;
    </script>
    <script src="/js/mainGallery.js"></script>